<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Unescaped Data in Django</title>
</head>
<body>
{% now "jS F Y H:i" %}
<h2>Test Django template data injection with unescaped html</h2>
<form id="unescaped-data" method="post" action="data">
    {% csrf_token %}
    <label for="data">Data</label><br>
    <textarea name="data" id="data" cols="50" rows="5"><script>alert('oops');</script></textarea><br>
    <br>
    <label for="auto_escape">use a template with autoescape off </label><br>
    <input type="checkbox" id="auto_escape" name="auto_escape" value="off">
    <br>
    <input type="submit" value="Submit">
</form>
